

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 15px 0;
  color: #fff;
  text-align: center;
/*  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);*/
  background: transparent; /* Old browsers */
/*    #gradient > .horizontal(@blueLighter, #FFFFFF);*/
  /*background: url('../../img/satya_jean_ripped.png') top repeat-x;*/
            
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0px;
  color: black;
  letter-spacing:2px;
}

.jumbotron div.jumbo-social-media{
  display:inline;
  padding-left:8px;
}

.jumbotron div.input-append{
  display:inline;
}

.jumbotron div.jumbo-social-media img {
  height:48px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #3C610F;
  //color: rgba(255,255,255,.5);
/*  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;*/
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}
