/* ==========================================================================
   Base
   ========================================================================== */

body { 
  background: url('/satya/assets/img/satya_jean.png') fixed;
}

/* ==========================================================================
   Navbar Mods
   ========================================================================== */

.navbar{
  /*background: url('../img/satya-background-top-border.png') bottom white;*/
  /*background-repeat: repeat-x;*/
}

.sub-brand {
    margin-left: -15px;
}

.navbar .sub-brand h2{
  font-size:25px;
  color: #f3f3f3;
  /*display: block;*/
  padding: 0;
  margin: 0;
  line-height:32px;
  text-transform: none;
}

#menu-primary-navigation{
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background:#eee;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  margin-left:-15px;
}

.mailinglist{
  padding: 4px 0px 0px;
  display:inline;
}

.jumbotron{
  /*background: url('../img/satya-nav-border.png') top repeat-x;*/
}

.nav-widget{
   padding-top: 25px; 
}

.donate-button{
  margin-top:0!important;
  margin-left:10px;
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar {
  padding-top: 110px; 
}

body.admin-bar .navbar-fixed-top { top: 28px; }

/* =============================================================================
   Sub-Header
   ========================================================================== */

.sub-header-inner {
  background: rgba(0,0,0,0.3);
}

/* =============================================================================
   Single Page Headers
   ========================================================================== */

body.page-parent div.page-child-title h1{}
body.page-parent div.page-child-title h2{color:#942610;}
body.page-parent div.page-child-title h3{color:rgb(121,	136,	149);}



/* ==========================================================================
   Content
   ========================================================================== */

#content { 
/*  .box-shadow(inset 0 3px 8px rgba(0,0,0,.125));*/
  padding-top: 15px;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { 
    /*background: rgba(255,255,255,0.7);  */
/*    outline: 15px solid rgba(255,255,255,0.7);*/
}


.entry-content{
  padding: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { 
  padding-top:35px;
}




/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { 
  padding-top:20px;  
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
  
  #main { /*outline-width: 10px; */ }
  #sidebar { outline-width: 10px; }
  
  #sub-banner {margin-top:-20px;}
  
  .jumbotron{display:none;}
  
}

@media (max-width: 1200px) {
  #main { outline-width: 10px; }
  #sidebar { outline-width: 10px; }
}
